<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href='{% url 'home' %}'><font color="white">Project Board</font></a>
        </div>
        <div class="collapse navbar-collapse" id="myNav">
            <ul class="nav navbar-nav">
                {% if userAuthenticated %}

                <li><a href='{% url 'addProject' %}'>Post Project</a></li>
                {% endif %}

                {% if userAuthenticated %}
                <li><a href='{% url 'profile' %}'>My Profile</a></li>
                {% endif %}

                {% if userAuthenticated %}
                <li><a href='{% url 'login' %}'>Sign Out</a></li>
                {% endif %}

                {% if not userAuthenticated %}
                <li><a href='{% url 'login' %}'>Sign In/Up</a></li>
                {% endif %}
            </ul>
        </div>
  </nav>
